/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
}

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

strong {
    color: rgb(0, 0, 0); /* Default color for bold text */
}